<div class="form-container">
  <header class="header-panel"><h1 class="page-title">🏷️ Add Categories</h1></header>

  <form [formGroup]="categoriesForm" (ngSubmit)="onSubmit()">
    <div class="form-grid">
      <div class="form-group">
        <label for="categoryName">Category Name<span class="required-star">*</span></label>
        <input
          id="categoryName"
          type="text"
          formControlName="categoryName"
          placeholder="Specify category name"
        />
        @if (
          categoriesForm.get('categoryName')?.touched && categoriesForm.get('categoryName')?.invalid
        ) {
          <span class="error-msg">Please enter category name.</span>
        }
      </div>
    </div>
    <div class="form-actions">
      <button type="submit" class="btn-save" [disabled]="categoriesForm.invalid">Submit</button>
      <button type="button" class="btn-cancel" (click)="onClear()">Clear</button>
    </div>
  </form>
</div>
