<div class="container">
  <header class="header-panel">
    <h1 class="page-title">📚 Book List</h1>

    <!-- Search -->
    <div class="search-wrapper">
      <select
        [ngModel]="searchFilter()"
        (ngModelChange)="onFilterChange($event)"
        class="filter-select"
      >
        <option value="all">🔎 All</option>
        <option value="title">📖 Book Title</option>
        <option value="author">✍️ Author</option>
        <option value="category">🏷️ Category</option>
        <option value="isbn">🆔 ISBN</option>
      </select>

      <div class="input-group">
        <input
          type="text"
          [ngModel]="searchText()"
          (ngModelChange)="onQueryChange($event)"
          (keyup.enter)="onSearch()"
          placeholder="Search text..."
          class="search-input"
        />
        <button class="btn-search" (click)="onSearch()">Search</button>
        <button class="btn-clear" (click)="onClear()">Clear</button>
      </div>
    </div>
  </header>

  <!-- Display List Books -->
  <main class="book-grid">
    @for (book of listBooks(); track book.bookId) {
      <div class="book-card">
        <div class="book-cover-wrapper">
          <img [src]="" [alt]="book.title" loading="lazy" class="book-card-cover" />
          <span class="badge">{{ book.categoryName }}</span>
        </div>
        <div class="book-card-info">
          <h2 class="book-card-title">{{ book.title }}</h2>
          <p class="book-card-author">✍️ {{ book.author }}</p>
          <div class="book-card-stock">📦 Available: {{ book.availableCopies }}</div>
          <div class="book-card-footer">
            <span class="action-link" (click)="openDetatils(book.bookId)">👁️ Details</span>
            <span class="action-link" (click)="onEdit(book.bookId)">✏️ Edit</span>
            <span class="action-link" (click)="onDelete(book)">🗑️ Delete</span>
          </div>
        </div>
      </div>
    } @empty {
      <div class="no-data"><p>🔍 No book found.</p></div>
    }
  </main>

  <!-- ==================== Popup Modal Detail ==================== -->
  @if (selectedBook(); as book) {
    <div class="modal-backdrop" (click)="closeDetatils()">
      <div class="modal-content" (click)="$event.stopPropagation()">
        <button class="close-icon-btn" (click)="closeDetatils()">&times;</button>
        <div class="modal-body">
          <div class="modal-left">
            <img [src]="" [alt]="book.title" class="modal-cover" />
          </div>
          <div class="modal-right">
            <span class="badge">{{ book.categoryName }}</span>
            <h2 class="modal-title">{{ book.title }}</h2>
            <p class="modal-detail"><strong>ISBN:</strong> {{ book.isbn }}</p>
            <p class="modal-detail"><strong>Author:</strong> {{ book.author }}</p>
            <p class="modal-detail"><strong>Publisher:</strong> {{ book.publisher }}</p>
            <p class="modal-detail"><strong>Publish Year:</strong> {{ book.publishYear }}</p>
            <p class="modal-detail"><strong>total:</strong> {{ book.totalCopies }}</p>
            <p class="modal-detail"><strong>Available:</strong> {{ book.availableCopies }}</p>
            <p class="modal-detail"><strong>Location:</strong> {{ book.location }}</p>
            <p class="modal-detail"><strong>Is Active:</strong> {{ book.isActive }}</p>
          </div>
        </div>
      </div>
    </div>
  }
</div>
